.App {
  text-align: center;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
  padding-top: 50px;
  padding-bottom: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-searchwrap {
  position: flex;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4vw;
}

.App-searchbarcss{
  margin-bottom: 35px; 
  font-size: calc(12px + .5vmin);
  width: 50vw;
  max-width: 400px;
  height: calc(30px + .5vw);
  fill: #f867d1;
  border-color:#282c34;
  border-radius: 18px;
  border-width: 4px;
  text-indent: 5%;
}

.App-link {
  color: #61dafb;
}

.App-recentSearches{
  align-content: space-between;
  justify-content: space-around;
  justify-items: left;
  align-items: left;
  padding-inline: 10%;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 2rem 5rem 5rem 5rem;
  grid-gap: 1rem;
  text-align: left;
}

.App-recentRecs{
  align-content: space-between;
  justify-content: space-around;
  justify-items: left;
  align-items: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-inline: 10%;
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 50px;
  text-align: left;
  max-width: 80%;
}

.App-footer{
  height: 10vh;
}

.App-button{
  background-color: rgb(64, 60, 65);
  text-decoration: none;
  color: white;
  font-size: calc(14px + .5vmin);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  max-width: 50%;
}

h2 {
  padding-top: 5px;
  color: #302d29;
}

h3{
  padding-top: 35px;
  color: #FF9839;
  margin-inline: 50px;
}

.App-results{
  list-style-type: none;
  margin-inline: 10vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.item{
  background-color: grey;
  color: white;
  border-radius: 18px;
  padding: 5px 13px;
  border-color: black;
  border-width: 3px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



