.App {
  text-align: center;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
  padding-top: 50px;
  padding-bottom: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-searchwrap {
  position: flex;
  text-align: center;
  padding: 50px;
  
}

.App-searchbarcss{
  font-size: calc(10px + .5vmin);
  width: 40vw;
  height: 30px;
  fill: #f867d1;
  border-color:#282c34;
  border-radius: 18px;
  border-width: 4px;
  text-indent: 0.5em;
}

.App-link {
  color: #61dafb;
}

.App-recentSearches{
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
}

.App-recentRecs{
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



