.App {
  text-align: center;
}

.App-logo {
  /* height: 30vh; */
  width: 70vw;
  max-height: 400px;
  pointer-events: none;
  padding-top: 15vw; 
  padding-bottom: 10vw;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-searchwrap {
  position: flex;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4vw;
}

.App-searchbarcss{
  margin-block: 5vw; 
  font-size: 2.3em;
  width: 80vw;
  max-width: 600px;
  height: 2.3em;
  fill: #f867d1;
  border-color:#282c34;
  border-radius: 1em;
  border-width: 5px;
  text-indent: 5%;
}

.App-link {
  color: #61dafb;
}

.App-recentSearches{
  align-content: space-between;
  justify-content: space-around;
  justify-items: left;
  align-items: left;
  font-size: 2.2em;
  padding-inline: 10vw;
  padding-bottom: 10vw;
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-gap: .5rem;
  text-align: left;
}

.App-recentRecs{
  align-content: space-between;
  justify-content: space-around;
  justify-items: left;
  align-items: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  /* padding-inline: 10%; */
  display: grid;
  grid-template-columns: 80vw;
  grid-gap: 30px;
  text-align: left;
  max-width: 80%;
  font-size: 1.6em;
}

.App-footer{
  height: 10vh;
}

.button{
  fill: rgb(64, 60, 65);
  font-size: 2.1em;
  padding: 15px 20px;
  border-radius: .5em;
  margin: 10px 0px;
}

.App-button{
  /* background-color: rgb(64, 60, 65); */
  /* text-decoration: none; */
  color: rgb(0, 11, 228);
  font-size: 2.1em;
  padding: 15px 20px;
  border-radius: .5em;
  margin: 10px 0px;
  cursor: pointer;
  max-width: 50%;
}

h2 {
  padding-top: 5px;
  color: #302d29;
  font-size: 2.7em;
  max-width: 90vw;
}

h3{
  padding-top: 35px;
  font-size: 2em;
  margin-inline: 50px;
}

.App-results{
  /* list-style-type: none;
  margin-block: 50px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 2.1em;
  max-width: 50%; */

  align-content: space-between;
  justify-content: space-around;
  justify-items: left;
  align-items: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-inline: 10%;
  display: grid;
  grid-template-columns: 80vw;
  grid-gap: 30px;
  text-align: left;
  margin-block-start: 50px;
  max-width: 80%;
  font-size: 1.6em;
}

.item{
  background-color: grey;
  color: white;
  border-radius: 18px;
  padding: 5px 13px;
  border-color: black;
  border-width: 3px;
}

input[type=text], select {
  width: 800px;
  font-size: 2em;
  overflow-wrap: break-word;
  padding: 12px 20px;
  margin: 10px;
  white-space: pre-wrap;
  word-wrap:break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  font-size: 1.5em;
  color: white;
  font-style: bold;
  background-color: black;
  border-radius: 4px;
  padding: 12px 12px;
  margin: 10px;
  display: inline-block;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



